/* -- 全体レイアウト -- */
fieldset{
	margin: 0;
}

.flex-container{
	display: -webkit-flex;
	display: flex;
	width: 940px;
}
#fieldset-attacker{
	-webkit-flex: 1;
	flex: 1;
	margin-right: 20px;
}
#fieldset-defender{
	-webkit-flex: 1;
	flex: 1;
}
.fieldset-attacker-detail{
	-webkit-flex: 1;
	flex: 1;
	margin-right: 20px;
}
.fieldset-defender-detail{
	-webkit-flex: 1;
	flex: 1;
}
.fieldset-exp-attacker{
	-webkit-flex: 1;
	flex: 1;
	margin-right: 20px;
}
.fieldset-exp-defender{
	-webkit-flex: 1;
	flex: 1;
}

/* -- タブ -- */
#tabs{
	width: calc(940px + 10px + 10px);
}
.ui-tabs .ui-tabs-panel{
	padding-left: 10px;
	padding-right: 10px;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor{
	padding: 8px;
	padding-top: 10px;
	max-width: 200px;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor .label-tab-detail{
	font-size: 0.8em;
}

.ui-icon-close{
	position: absolute;
	top: -1px;
	right: 0;
}

/* -- テーブル -- */
th {
	padding: 1px 5px;
}
td {
	padding: 1px 5px;
	text-align: right;
}
.table-unit-select td{
	text-align: left;
}

/* -- 行間調整 -- */
p{
	margin-top: 0;
	margin-bottom: 0;
	line-height: 1.4;
}

/* -- コンボボックス -- */
.custom-combobox {
	position: relative;
	display: inline-block;
}
.custom-combobox-input {
	padding-left: 12px;
	padding-top: 4px;
	padding-bottom: 4px;
}
.custom-combobox-toggle {
	position: absolute;
	top: 0;
	bottom: 0;
	margin-left: -1px;
	padding: 0;
}
.ui-autocomplete {
	max-height: 400px;
	overflow-y: auto;
	overflow-x: hidden;
}

/* -- 各input要素/widgetの幅調整 -- */
.ui-selectmenu-button{
	min-width: 220px;
}
.ui-selectmenu-button span.ui-selectmenu-text{
	padding-left: 12px;
	padding-top: 4px;
	padding-bottom: 4px;
}
input[type="number"]{
	width: 80px;
}

/* -- リスト -- */
ul#list-structure{
	list-style-type:none;
	margin-top:3px;
	padding-left:1em;
}